<div class="card mt-1" id="experience">
    <h4 class="card-header">
      <div class="row justify-content-between">
        <div class="col">
          <strong>
            Company
          </strong>
        </div>
        <div class="col-auto">
          <span class="text-end">
            Tenure
          </span>
        </div>
      </div>
    </h4>
    <div class="card-body">
      <h5 class="card-title">
        <div class="row justify-content-between">
          <div class="col">
            <p>
              Title | Location
            </p>
          </div>
          <div class="col-auto">
            <small class="text-end">
              Date - Range
            </small>
          </div>
        </div>

      </h5>
      <p class="card-text">
          <p class="lead p-1">
            Lead paragraph content.

          </p>
        <ul>
          <li>
            Bullet 1
          </li>
          <li>
            Bullet 2
          </li>
        </ul>
        
      </p>

      <div class="row justify-content-between">
        <div class="col">
          <p>
            Title | Location
          </p>
        </div>
        <div class="col-auto">
          <small class="text-end">
            Month Year - Month Year
          </small>
        </div>
      </div>
    </div>
  </div>
